<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/Header.css" rel="stylesheet" />
    <link href="~/Content/Footer.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    @Html.Partial("Header")


    
    <main class="content-wrapper">
        @RenderBody()
    </main>

    @Html.Partial("Footer")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
